//! **************************************************************************
// Written by: Map P.58f on Tue Jun 04 21:04:07 2013
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P99";
PROHIBIT = SITE "P43";
PROHIBIT = SITE "P42";
PROHIBIT = SITE "P39";
PROHIBIT = SITE "P49";
PROHIBIT = SITE "P48";
PROHIBIT = SITE "P47";
COMP "BI" LOCATE = SITE "P84" LEVEL 1;
COMP "FI" LOCATE = SITE "P79" LEVEL 1;
COMP "reset" LOCATE = SITE "P86" LEVEL 1;
COMP "CLK" LOCATE = SITE "P89" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

